<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student_single" class="com.nik.home_task.Student"/>
    <bean id="student_proto" class="com.nik.home_task.Student" scope="prototype"/>

</beans>
